{% extends "blog/base.html" %}

{% block title %}
Список статей
{% endblock %}
{% block content %}

{% include 'include_block_html/head_page.html' %}

<h1> Список статей </h1>
<div>
{% for post in post %}
<p><a href = "{{ post.get_absolute_url }}">{{ post.title }}</a></p>
<p class="author">{{ post.author }}</p>

<p class="tag">

    {% for tag in post.tags.all %}
    {% if forloop.counter == 1 %}
    Теги:
      {% endif %}
    <a href="{% url 'blog:list_by_tag' tag.slug %}">{{ tag.name }}</a>
    {% if not forloop.last %}, {% endif %}
    {% empty %}
    <p>Теги отсутствуют</p>
    {% endfor %}

</p>
{% endfor %}
</div>


{% include "pagination.html" with page=post %}
{% endblock %}